<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-title">
                <h5>添加敏感词</h5>
            </div>
            <div class="ibox-content">
                <a href="javascript:void(0)" link-url="{:U('senstive/index')}"><button class="btn btn-primary btn-sm" type="button"><i class="fa fa-plus-circle"></i> 敏感词管理</button></a>
                <div class="hr-line-dashed m-t-sm m-b-sm"></div>
                <form class="form-horizontal" submit-url="{:U('senstive/edit')}" method="POST">
                    <input type="hidden" name="id" value="{$senstive.id}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">敏感词：</label>
                        <div class="col-sm-2">
                            <input type="text" name="senstive_word" value="{$senstive.senstive_word}" class="form-control" required data-msg-required="请输入敏感词">
                        </div>
                    </div>
                    <div class="hr-line-dashed m-t-sm m-b-sm"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">替换词：</label>
                        <div class="col-sm-2">
                            <input type="text" name="replace_word" value="{$senstive.replace_word}" class="form-control" required data-msg-required="请输入替换词">
                        </div>
                    </div>
                    <div class="hr-line-dashed m-t-sm m-b-sm"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">敏感级别：</label>
                        <div class="col-sm-2">
                            <select name="level" class="form-control">
                                <option value="0"<eq name="senstive['level']" value="0"> selected</eq>>普通</option>
                                <option value="1"<eq name="senstive['level']" value="1"> selected</eq>>危险</option>
                            </select>
                        </div>
                        <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 一般：用替换词替换，危险：直接清除</span>
                    </div>
                    <div class="hr-line-dashed m-t-sm m-b-sm"></div>
                    <div class="form-group">
                        <div class="col-sm-12 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" data-form-action="App.submit_form"><i class="fa fa-check"></i> 保 存</button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>