<include file="Public:header" />
<!-- 主体内容-开始 -->
<div class="main clearfix about-main">

	<div class="left">
	<dl>
	<dt>关于搞笑笔记</dt>
	<dd><a href="/about/jianjie.html" class="hover">搞笑笔记简介</a></dd>
	<dd><a href="/about/gonggao.html">搞笑笔记公告</a></dd>
	<dd><a href="/about/shengming.html">免责声明</a></dd>
	<dd><a href="/about/feedback.html">反馈意见</a></dd>
	</dl>
	<dl class="guize">
	<dt>互动规则</dt>
	<dd><a href="/about/tougao.html">投稿规则</a></dd>
	<dd><a href="/about/shengao.html">审稿规则</a></dd>
	<dd><a href="/about/shengji.html">升级规则</a></dd>
	<dd><a href="/about/jifen.html">积分规则</a></dd>
	</dl>
	</div>

	<div class="right">
		<dl>
		<dt>{$setting["site_name"]}简介</dt>
			<dd>
			<p>&#12288;&#12288;欢迎来到搞笑笔记官网！我们的暗号是：何必如此认真？我们专注分享搞笑趣事和图片。搞笑笔记的内容均以用户自主原创搞笑内容为主，为用户提供便捷的内容上传通道，方便用户分享传播自己发现和原创的搞笑段子、爆笑图片、身边趣事、动态图等，立志打造国内优秀的搞笑趣事与图片分享平台。</p>
			</dd>
			</dl>
			<dl>
			<dt>主要频道</dt>
			<dd>
			<p>热门：8小时、24小时、7天、30天内最受用户欢迎的搞笑内容。</p>
			<p>新鲜：最新通过审核的内容。</p>
			<p>神回复：点赞达到一定数量的评论汇总。</p>
			<p>礼品兑换：用积分兑换礼品。</p>
			<p>审稿：搞笑笔记评审官(笑婶)在此审核所有投稿，只有达到一定比例的内容才会上线。</p>
			</dd>
			</dl>
			<dl>
			<dt>积分介绍</dt>
			<dd>
			<p>&#12288;&#12288;搞笑笔记还通过积分奖励、积分赠送、积分领取等各种方式，让用户在分享快乐的同时有所收获。通过积分兑换平台，最终达到用户付出终有回报的结果。劳有所得是搞笑笔记坚持的理念，也是对一直支持我们的用户的最好的回报。</p>
			</dd>
			</dl>
			<dl>
			<dt>特色功能</dt>
			<dd>
			<p>打赏：赠送积分给投稿人，概不退还。</p>
			<p>包养：如果用户在投稿时出价求包养，其他用户都能通过投稿人指定的价格一次性买断该内容，简称包养。买断后，该内容所获得的打赏将归包养人所有。一旦包养，概不反悔。</p>
			<p>每日任务：完成任务获得积分。</p>
			<p>神回复：点赞数达到一定数量，该评论自动升级为神评论。神评论将直接展示在笑话下方。</p>
			</dd>
			</dl>
			<dl>
			<dt>其他平台</dt>
			<dd>
			<p>手机版：{$setting['site_murl']|str_replace='http://','',###}</p>
			<p>微信公众号：搜索 gaoxiaobiji365</p>
			<p>微博：http://weibo.com/gxbjxh</p>
			</dd>
		</dl>
	</div>

</div>
<!-- 主体内容-结束 -->

<include file="Public:footer" />