<include file="Public:header" />

<!-- 主体内容-开始 -->

<div class="main clearfix about-main">



	<div class="left">

	<dl>

	<dt>关于搞笑笔记</dt>

	<dd><a href="/about/jianjie.html">搞笑笔记简介</a></dd>

	<dd><a href="/about/gonggao.html">搞笑笔记公告</a></dd>

	<dd><a href="/about/shengming.html">免责声明</a></dd>

	<dd><a href="/about/feedback.html">反馈意见</a></dd>

	</dl>

	<dl class="guize">

	<dt>互动规则</dt>

	<dd><a href="/about/tougao.html">投稿规则</a></dd>

	<dd><a href="/about/shengao.html">审稿规则</a></dd>

	<dd><a href="/about/shengji.html" class="hover">升级规则</a></dd>

	<dd><a href="/about/jifen.html">积分规则</a></dd>

	</dl>

	</div>



	<div class="right" style="height:3300px;">

		<dl class="shengji">

		<dt>升级规则</dt>

		<dd>

			<p>在新版搞笑笔记里，等级随在线时长上升。升级规则表如下：</p>

			<table cellspacing="1">

			<tbody><tr><th>等级</th><th>升到下一级所需时间</th><th>头衔</th><th>投稿量</th></tr>

			<tr><td>1级</td><td>0分钟</td><td><span class="level_icon icon_lv1"></span></td><td rowspan="9">每天可投稿6条<br><br>每次升级可得30积分奖励</td></tr>

			<tr><td>2级</td><td>60分钟</td><td><span class="level_icon icon_lv2"></span></td></tr>

			<tr><td>3级</td><td>168分钟</td><td><span class="level_icon icon_lv3"></span></td></tr>

			<tr><td>4级</td><td>260分钟</td><td><span class="level_icon icon_lv4"></span></td></tr>

			<tr><td>5级</td><td>580分钟</td><td><span class="level_icon icon_lv5"></span></td></tr>

			<tr><td>6级</td><td>680分钟</td><td><span class="level_icon icon_lv6"></span></td></tr>

			<tr><td>7级</td><td>860分钟</td><td><span class="level_icon icon_lv7"></span></td></tr>

			<tr><td>8级</td><td>900分钟</td><td><span class="level_icon icon_lv8"></span></td></tr>

			<tr><td>9级</td><td>960分钟</td><td><span class="level_icon icon_lv9"></span></td></tr>

			<tr><td>10级</td><td>1000分钟</td><td><span class="level_icon icon_lv10"></span></td><td rowspan="10">每天可投稿12条<br><br>每次升级可得50积分奖励</td></tr>

			<tr><td>11级</td><td>2000分钟</td><td><span class="level_icon icon_lv11"></span></td></tr>

			<tr><td>12级</td><td>3000分钟</td><td><span class="level_icon icon_lv12"></span></td></tr>

			<tr><td>13级</td><td>5000分钟</td><td><span class="level_icon icon_lv13"></span></td></tr>

			<tr><td>14级</td><td>6000分钟</td><td><span class="level_icon icon_lv14"></span></td></tr>

			<tr><td>15级</td><td>6800分钟</td><td><span class="level_icon icon_lv15"></span></td></tr>

			<tr><td>16级</td><td>8000分钟</td><td><span class="level_icon icon_lv16"></span></td></tr>

			<tr><td>17级</td><td>8900分钟</td><td><span class="level_icon icon_lv17"></span></td></tr>

			<tr><td>18级</td><td>9500分钟</td><td><span class="level_icon icon_lv18"></span></td></tr>

			<tr><td>19级</td><td>9900分钟</td><td><span class="level_icon icon_lv19"></span></td></tr>

			<tr><td>20级</td><td>10000分钟</td><td><span class="level_icon icon_lv20"></span></td><td rowspan="10">每天可投稿16条<br><br>每次升级可得80积分奖励</td></tr>

			<tr><td>21级</td><td>15000分钟</td><td><span class="level_icon icon_lv21"></span></td></tr>

			<tr><td>22级</td><td>20000分钟</td><td><span class="level_icon icon_lv22"></span></td></tr>

			<tr><td>23级</td><td>25000分钟</td><td><span class="level_icon icon_lv23"></span></td></tr>

			<tr><td>24级</td><td>30000分钟</td><td><span class="level_icon icon_lv24"></span></td></tr>

			<tr><td>25级</td><td>35000分钟</td><td><span class="level_icon icon_lv25"></span></td></tr>

			<tr><td>26级</td><td>45000分钟</td><td><span class="level_icon icon_lv26"></span></td></tr>

			<tr><td>27级</td><td>55000分钟</td><td><span class="level_icon icon_lv27"></span></td></tr>

			<tr><td>28级</td><td>60000分钟</td><td><span class="level_icon icon_lv28"></span></td></tr>

			<tr><td>29级</td><td>68000分钟</td><td><span class="level_icon icon_lv29"></span></td></tr>

			<tr><td>30级</td><td>80000分钟</td><td><span class="level_icon icon_lv30"></span></td><td rowspan="10">每天可投稿26条<br><br>每次升级可得120积分奖励</td></tr>

			<tr><td>31级</td><td>88000分钟</td><td><span class="level_icon icon_lv31"></span></td></tr>

			<tr><td>32级</td><td>100000分钟</td><td><span class="level_icon icon_lv32"></span></td></tr>

			<tr><td>33级</td><td>110000分钟</td><td><span class="level_icon icon_lv33"></span></td></tr>

			<tr><td>34级</td><td>120000分钟</td><td><span class="level_icon icon_lv34"></span></td></tr>

			<tr><td>35级</td><td>128000分钟</td><td><span class="level_icon icon_lv35"></span></td></tr>

			<tr><td>36级</td><td>136000分钟</td><td><span class="level_icon icon_lv36"></span></td></tr>

			<tr><td>37级</td><td>150000分钟</td><td><span class="level_icon icon_lv37"></span></td></tr>

			<tr><td>38级</td><td>160000分钟</td><td><span class="level_icon icon_lv38"></span></td></tr>

			<tr><td>39级</td><td>170000分钟</td><td><span class="level_icon icon_lv39"></span></td></tr>

			<tr><td>40级</td><td>180000分钟</td><td><span class="level_icon icon_lv40"></span></td><td rowspan="10">每天可投稿28条<br><br>每次升级可得180积分奖励</td></tr>

			<tr><td>41级</td><td>190000分钟</td><td><span class="level_icon icon_lv41"></span></td></tr>

			<tr><td>42级</td><td>200000分钟</td><td><span class="level_icon icon_lv42"></span></td></tr>

			<tr><td>43级</td><td>210000分钟</td><td><span class="level_icon icon_lv43"></span></td></tr>

			<tr><td>44级</td><td>220000分钟</td><td><span class="level_icon icon_lv44"></span></td></tr>

			<tr><td>45级</td><td>230000分钟</td><td><span class="level_icon icon_lv45"></span></td></tr>

			<tr><td>46级</td><td>240000分钟</td><td><span class="level_icon icon_lv46"></span></td></tr>

			<tr><td>47级</td><td>250000分钟</td><td><span class="level_icon icon_lv47"></span></td></tr>

			<tr><td>48级</td><td>260000分钟</td><td><span class="level_icon icon_lv48"></span></td></tr>

			<tr><td>49级</td><td>270000分钟</td><td><span class="level_icon icon_lv49"></span></td></tr>

			<tr><td>50级</td><td>280000分钟</td><td><span class="level_icon icon_lv50"></span></td><td rowspan="10">每天可投稿32条<br><br>每次升级可得260积分奖励</td></tr>

			<tr><td>51级</td><td>300000分钟</td><td><span class="level_icon icon_lv51"></span></td></tr>

			<tr><td>52级</td><td>302000分钟</td><td><span class="level_icon icon_lv52"></span></td></tr>

			<tr><td>53级</td><td>306000分钟</td><td><span class="level_icon icon_lv53"></span></td></tr>

			<tr><td>54级</td><td>308000分钟</td><td><span class="level_icon icon_lv54"></span></td></tr>

			<tr><td>55级</td><td>310000分钟</td><td><span class="level_icon icon_lv55"></span></td></tr>

			<tr><td>56级</td><td>320000分钟</td><td><span class="level_icon icon_lv56"></span></td></tr>

			<tr><td>57级</td><td>328000分钟</td><td><span class="level_icon icon_lv57"></span></td></tr>

			<tr><td>58级</td><td>330000分钟</td><td><span class="level_icon icon_lv58"></span></td></tr>

			<tr><td>59级</td><td>336000分钟</td><td><span class="level_icon icon_lv59"></span></td></tr>

			<tr><td>60级</td><td>350000分钟</td><td><span class="level_icon icon_lv60"></span></td><td rowspan="10">每天可投稿36条<br><br>每次升级可得360积分奖励</td></tr>

			<tr><td>61级</td><td>356000分钟</td><td><span class="level_icon icon_lv61"></span></td></tr>

			<tr><td>62级</td><td>360000分钟</td><td><span class="level_icon icon_lv62"></span></td></tr>

			<tr><td>63级</td><td>366000分钟</td><td><span class="level_icon icon_lv63"></span></td></tr>

			<tr><td>64级</td><td>390000分钟</td><td><span class="level_icon icon_lv64"></span></td></tr>

			<tr><td>65级</td><td>398000分钟</td><td><span class="level_icon icon_lv65"></span></td></tr>

			<tr><td>66级</td><td>410000分钟</td><td><span class="level_icon icon_lv66"></span></td></tr>

			<tr><td>67级</td><td>418000分钟</td><td><span class="level_icon icon_lv67"></span></td></tr>

			<tr><td>68级</td><td>420000分钟</td><td><span class="level_icon icon_lv68"></span></td></tr>

			<tr><td>69级</td><td>430000分钟</td><td><span class="level_icon icon_lv69"></span></td></tr>

			<tr><td>70级</td><td>500000分钟</td><td><span class="level_icon icon_lv70"></span></td><td rowspan="10">每天可投稿39条<br><br>每次升级可得480积分奖励</td></tr>

			<tr><td>71级</td><td>502000分钟</td><td><span class="level_icon icon_lv71"></span></td></tr>

			<tr><td>72级</td><td>503000分钟</td><td><span class="level_icon icon_lv72"></span></td></tr>

			<tr><td>73级</td><td>505000分钟</td><td><span class="level_icon icon_lv73"></span></td></tr>

			<tr><td>74级</td><td>506990分钟</td><td><span class="level_icon icon_lv74"></span></td></tr>

			<tr><td>75级</td><td>508000分钟</td><td><span class="level_icon icon_lv75"></span></td></tr>

			<tr><td>76级</td><td>510000分钟</td><td><span class="level_icon icon_lv76"></span></td></tr>

			<tr><td>77级</td><td>511000分钟</td><td><span class="level_icon icon_lv77"></span></td></tr>

			<tr><td>78级</td><td>512000分钟</td><td><span class="level_icon icon_lv78"></span></td></tr>

			<tr><td>79级</td><td>513000分钟</td><td><span class="level_icon icon_lv79"></span></td></tr>

			<tr><td>80级</td><td>515000分钟</td><td><span class="level_icon icon_lv80"></span></td><td rowspan="10">每天可投稿50条<br><br>每次升级可得640积分奖励</td></tr>

			<tr><td>81级</td><td>516000分钟</td><td><span class="level_icon icon_lv81"></span></td></tr>

			<tr><td>82级</td><td>518000分钟</td><td><span class="level_icon icon_lv82"></span></td></tr>

			<tr><td>83级</td><td>519000分钟</td><td><span class="level_icon icon_lv83"></span></td></tr>

			<tr><td>84级</td><td>520000分钟</td><td><span class="level_icon icon_lv84"></span></td></tr>

			<tr><td>85级</td><td>521000分钟</td><td><span class="level_icon icon_lv85"></span></td></tr>

			<tr><td>86级</td><td>522000分钟</td><td><span class="level_icon icon_lv86"></span></td></tr>

			<tr><td>87级</td><td>523000分钟</td><td><span class="level_icon icon_lv87"></span></td></tr>

			<tr><td>88级</td><td>524000分钟</td><td><span class="level_icon icon_lv88"></span></td></tr>

			<tr><td>89级</td><td>529000分钟</td><td><span class="level_icon icon_lv89"></span></td></tr>

			<tr><td>90级</td><td>531000分钟</td><td><span class="level_icon icon_lv90"></span></td><td rowspan="10">每天可投稿58条<br><br>每次升级可得1000积分奖励</td></tr>

			<tr><td>91级</td><td>551000分钟</td><td><span class="level_icon icon_lv91"></span></td></tr>

			<tr><td>92级</td><td>561000分钟</td><td><span class="level_icon icon_lv92"></span></td></tr>

			<tr><td>93级</td><td>581000分钟</td><td><span class="level_icon icon_lv93"></span></td></tr>

			<tr><td>94级</td><td>621000分钟</td><td><span class="level_icon icon_lv94"></span></td></tr>

			<tr><td>95级</td><td>621800分钟</td><td><span class="level_icon icon_lv95"></span></td></tr>

			<tr><td>96级</td><td>631000分钟</td><td><span class="level_icon icon_lv96"></span></td></tr>

			<tr><td>97级</td><td>661000分钟</td><td><span class="level_icon icon_lv97"></span></td></tr>

			<tr><td>98级</td><td>663000分钟</td><td><span class="level_icon icon_lv98"></span></td></tr>

			<tr><td>99级</td><td>666666分钟</td><td><span class="level_icon icon_lv99"></span></td></tr>

			</tbody></table>

		</dd>

		</dl>

	</div>



</div>

<!-- 主体内容-结束 -->



<include file="Public:footer" />