<include file="Public:header" />
<div class="main clearfix register">
	<div class="iframe-reg">
		<dl class="login-left">
			<dt>加入{$setting["site_name"]}！</dt>
			<dd>
				<form>
					<ul>
						<li>
							<input type="text" name="email" class="email" placeholder="邮箱">
							<span class="error"></span>
						</li>
						<li>
							<input type="password" name="password" class="pasw" placeholder="密码">
							<span class="error"></span>
						</li>
						<li>
							<input type="password" name="confirm_password" class="pasw" placeholder="确认密码">
							<span class="error" ></span>
						</li>
						<li>
							<input type="text" name="username" class="user" placeholder="昵称">
							<span class="error" ></span>
						</li>
						<li class="vcodeli">
							<input type="text" name="code" class="vcode" placeholder="验证码" maxlength="4">
							<img src="/public/verify" id="vcode" alt="验证码" title="换一换">
							<span class="error"></span>
						</li>
						<li class="gender">
							<a href="javascript:void(0)" id="female" data-sex="2" class="female female-hover">美女</a>
							<a href="javascript:void(0)" id="male" data-sex="1" class="male">帅哥</a>
							<input type="hidden" name="sex" value="2"/>
						</li>
						<li class="button"><input type="button" class="btn" value="注册"></li>
					</ul>
				</form>
			</dd>
		</dl>
		<div class="login-right">
			<div class="or"><span>或</span></div>
			<dl class="loginp">
				<dt class="title">使用以下帐号直接登录</dt>
				<dd class="qq"><a href="/account/qqlogin"><i class="login-qq tr"></i><span>QQ</span></a></dd>
				<dd class="weibo"><a href="/account/wblogin"><i class="login-weibo tr"></i><span>新浪微博</span></a></dd>
			</dl>
		</div>
	</div>
</div>


<include file="Public:footer1" />
<script type="text/javascript">
	seajs.use(['user'], function(user) {
		user.register();
	});
</script>