<include file="Public:header" />
<!-- 主体内容-开始 -->
<div class="main clearfix">
	<div class="main-left fl" id="j-main-list">
		<div class="mahua sarch-results">
			为您找到与“<span>{$key}</span>”相关的笑话 {$count}条
		</div>
		<div class="main-nav clearfix" id="j-main-nav">
			<ul class="clearfix fl">
				<li>全 部</li>
				<!-- <li><a class="action" href="">最新</a></li>
				<li><a href="">8小时热门</a></li>
				<li><a href="">7天热门</a></li>
				<li><a href="">30天热门</a></li> -->
			</ul>
			<!-- <p class="notice"><a href=""><b>公告：</b>积分规则调整</a></p> -->
		</div>
	
		<include file="Public:joke" />
		<div class="page"> 
			{$page}
		</div>

	</div>

	<div class="main-right fr">
		<include file="Public:user" />
		<include file="Public:tags" />
		<include file="Public:app" />
	</div>

</div>
<!-- 主体内容-结束 -->
<include file="Public:footer" />