
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit" />
  <title>404啦！sorry，这个页面笔记君表示无法找到_搞笑笔记</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://www.gaoxiaobiji.com/404/css/pintuer.css" rel="stylesheet"/>
</head>
<body>
<div class="container" style=" margin-top:8%;"> 
   <div class="panel margin-big-top">
      <div class="text-center">
         <br>
         <h2 class="padding-top"> <stong>摸摸头~( ˘ ³˘)，似乎你所寻找的网页已移动或丢失了，也许你只是键入错误了一些东西，建议您返回笔记首页！
</stong> </h2>
         <div class=""> 
            <div class="float-left">
                <img src="http://www.gaoxiaobiji.com/404/img/ds-1.gif">
                <div class="alert"> 卧槽！页面不见了！ </div>
            </div>
            <div class="float-right">
               <img src="http://www.gaoxiaobiji.com/404/img/ds-2.png" width="260"> 
            </div>
          </div>
          <div class="padding-big">
               <a href="http://www.gaoxiaobiji.com/" class="button bg-yellow">返回首页</a>
               <a href="http://www.gaoxiaobiji.com/" class="button">保证不打死管理员</a>
          </div> 
      </div> 
   </div> 
</div>
</body>
</html>
