

<!-- 底部-开始 -->
<div class="footer">
	<div class="footer-content">
		<div class="coypright">
			<p>{$setting["site_copyright"]}　ICP备：{$setting["site_icp"]}　{$setting.site_tongji_code|htmlspecialchars_decode}</p>
		</div>
	</div>
</div>
<!-- 底部-结束 -->

<!--回到顶部-开始-->
<div class="return-top" id="j-return-top">
	<div class="return-code">
		<img class="qrcode" src="{$setting['site_qrcode']}">
		<img class="arrow" src="/Public/index/xxhh/images/reutrn-code-bg.png">
	</div>
	<div class="return-btn"></div>
</div>
<!--回到顶部-结束-->
<!--自动推送-开始-->
<?php include_once("baidu_js_push.php") ?>
<script>
(function(){
   var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?29eb3ebac225dbae4c3bf7187cfcb7b1":"https://jspassport.ssl.qhimg.com/11.0.1.js?29eb3ebac225dbae4c3bf7187cfcb7b1";
   document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>
<!--自动推送-结束-->
<script type="text/javascript">seajs.use(['user'], function(user) {$(window).load(function(){user.jokeList(test);});})</script>
{$adv['pc_fumeiti']}{$adv['pc_duilian']}
</body>
</html>