<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-title">
                <h5>栏目管理</h5>
            </div>
            <div class="ibox-content">
                <a href="javascript:void(0)" link-url="{:U('articlecate/add')}"><button class="btn btn-primary btn-sm" type="button"><i class="fa fa-plus-circle"></i> 添加栏目</button></a>
                <table class="table table-striped table-bordered table-hover m-t-md">
                    <thead>
                        <tr>
                            <th class="text-center" width="60">ID</th>
                            <th>栏目名称</th>
                            <th class="text-center">标识</th>
                            <th class="text-center" width="80">排序</th>
                            <th class="text-center" width="170">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="articlecate" id="val">
                        <tr>
                            <td class="text-center">{$val.id}</td>
                            <td>|--{$val.html}{$val.name}</td>
                            <td class="text-center">{$val.alias}</td>
                            <td class="text-center"><input type="text" value="{$val.list_sort}" name="list_sort" class="form-control text-center" blur-action="App.sort" data-id="{$val.id}" data-url="{:U('articlecate/sort')}"></td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="javascript:void(0)" link-url="{:U('articlecate/edit',array('id' => $val['id']))}"><button class="btn btn-white btn-sm" type="button"><em class="fa fa-edit"></em> 修改</button></a>
                                    <a href="javascript:void(0)" data-url="{:U('articlecate/delete')}" data-id="{$val['id']}" data-action="App.del"><button class="btn btn-white btn-sm" type="button"><i class="fa fa-trash-o"></i> 删除</button></a>
                                </div>
                            </td>
                        </tr>
                        </volist>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>