<include file="Public:header" />

<!-- 主体内容-开始 -->

<div class="main clearfix about-main">



	<div class="left">

	<dl>

	<dt>关于{$setting["site_name"]}</dt>

	<dd><a href="/about/jianjie.html">{$setting["site_name"]}简介</a></dd>

	<dd><a href="/about/gonggao.html">{$setting["site_name"]}公告</a></dd>

	<dd><a href="/about/shengming.html">免责声明</a></dd>

	<dd><a href="/about/feedback.html">反馈意见</a></dd>

	</dl>

	<dl class="guize">

	<dt>互动规则</dt>

	<dd><a href="/about/tougao.html" class="hover">投稿规则</a></dd>

	<dd><a href="/about/shengao.html">审稿规则</a></dd>

	<dd><a href="/about/shengji.html">升级规则</a></dd>

	<dd><a href="/about/jifen.html">积分规则</a></dd>

	</dl>

	</div>



	<div class="right" style="height:1100px;">

		<dl>

		<dt>投稿要求</dt>

		<dd>

			<p>&#12288;&#12288;投稿是您对我们最好支持！为营造良好的原创笑话与图片分享氛围，请朋友们遵守投稿规则，多多理解我们哦！</p>

			<p>&#12288;&#12288;1、{$setting["site_name"]}是分享快乐的网站，请不要发表无关的内容欺骗小伙伴们的感情啦！</p>

			<p>&#12288;&#12288;2、不能涉及政治、色情、暴力、陪聊等违法违规内容，不能包含邮件地址、电话号码、地址、QQ、微博等联系信息，不要在本站发布广告。</p>

			<p>&#12288;&#12288;3、请发布原创的文字和图片，身边的搞笑趣事、糗事、随手拍等都可以，但是把其他网站的内容发到{$setting["site_name"]}，是不可以喔。</p>

			<p>&#12288;&#12288;4、请选择清晰有趣的图片，并且不能包含其他网站、微博号等的水印。请勿上传涉嫌广告、营销的图片。</p>

			<p>&#12288;&#12288;5、文字笑话或段子，请提供纯文字。</p>

			<p>&#12288;&#12288;6、请勿上传聊天表情图片，虽然好笑，但是不适合在{$setting["site_name"]}出现哦。</p>

			<p>&#12288;&#12288;7、请勿提交重复的内容。</p>

			</dd>

			</dl>

			<dl>

			<dt>违规情况</dt>

			<dd>

			<p>&#12288;&#12288;为了保护广大{$setting["site_name"]}er的看点，为了保证{$setting["site_name"]}的正常运行，希望大家不要发布以下稿件。如有违反，我们会发出提醒或警告，情节严重者封号。</p>

			<p>&#12288;&#12288;1、发布政治、色情、暴力、陪聊、广告等内容，包括但不限于：敏感人物、色情图片、非搞笑的美女图片、性暗示或性诱惑图片、衣着过分暴露的图片、带水印或其它任何推广信息的内容、有其它品牌版权的形象等。</p>

			<p>&#12288;&#12288;2、严禁对图片进行任何处理，以逃避图片重复检查，包括但不限于：加边框、加文字、拍屏幕上传、拼图、改颜色、动态图改静图、调整颜色、截取多余部分、刻意模糊图片降低品质等。</p>

			<p>&#12288;&#12288;3、发布纯文字笑话或段子时，严禁任何带图的行为，包括但不限于：文字截图、文字配图、文字做成图片等。</p>

			<p>&#12288;&#12288;4、发布质量低劣的内容，包括但不限于：新闻截图、尺寸过小的图片、看不清内容的长图片、模糊或品质低劣图片、严重抄袭、纯复制粘贴的文字笑话等。</p>

			<p>&#12288;&#12288;5、发布非搞笑的内容，包括但不限于：无意义文字和图片、纯任务投稿、非搞笑或纯卖萌的动物、创意与设计、感动或求点赞、非搞笑的艺术或摄影图片等。</p>

			<p>&#12288;&#12288;6、其他扰乱{$setting["site_name"]}正常运营、降低{$setting["site_name"]}内容质量的行为。</p>

			<p>&#12288;&#12288;针对以上所有的情况，反复提醒或警告无效者，直接封号。同时，有以上行为的用户，{$setting["site_name"]}均不受理兑换申请。</p>

		</dd>

		</dl>

	</div>



</div>

<!-- 主体内容-结束 -->



<include file="Public:footer" />