<include file="Public:header" />

<!-- 主体内容-开始 -->

<div class="main clearfix about-main">



	<div class="left">

	<dl>

	<dt>关于{$setting["site_name"]}</dt>

	<dd><a href="/about/jianjie.html">{$setting["site_name"]}简介</a></dd>

	<dd><a href="/about/gonggao.html">{$setting["site_name"]}公告</a></dd>

	<dd><a href="/about/shengming.html">免责声明</a></dd>

	<dd><a href="/about/feedback.html">反馈意见</a></dd>

	</dl>

	<dl class="guize">

	<dt>互动规则</dt>

	<dd><a href="/about/tougao.html">投稿规则</a></dd>

	<dd><a href="/about/shengao.html"  class="hover">审稿规则</a></dd>

	<dd><a href="/about/shengji.html">升级规则</a></dd>

	<dd><a href="/about/jifen.html">积分规则</a></dd>

	</dl>

	</div>



	<div class="right" style="height:1500px;">

		<dl>

		<dt>搞笑，审稿的核心原则！</dt>

		<dd>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请各位评审官牢记：{$setting["site_name"]}是分享搞笑内容的网站，不以搞笑为目的的投稿，都是耍流氓！</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大家在审稿时，请根据“好笑还是不好笑”这个最重要的原则来投票。如果实在是觉得不好判断，请果断“跳过”。</p>

			</dd>

			<dt>什么是违规内容？</dt>

			<dd>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;遇到以下违规内容，请大家不要手下留情，果断选择“不好笑”或者“举报”！</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、涉及恶搞国家领导人、敏感事件、色情、暴力、陪聊等违法违规内容；包含邮件地址、电话号码、地址等联系信息的内容；涉嫌广告、营销。</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、重复的内容。是否重复，请凭自己的记忆判断。</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、涉及版权问题的内容。</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、不以搞笑为目的的感动、萌宠、求赞、创意等内容。</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、带有其他网站及个人的水印、网址、名称、微博号、微信号、二维码等的图片，包括但不限于下图的举例：</p>

			<p><img style="margin: 0 auto;" src="http://static.mahua.com/www/default/img/audit_error_img.jpg"></p>

			</dd>

			<dt>审稿有奖励吗？</dt>

			<dd>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有！每周每月都有奖励，而且只多不少！</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、周榜奖励</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1）必须申请加入评审QQ群；</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2）一个自然周内（周一至周日），总审准条数达到500条不足1000条，且审准率大于60%的，获得积分奖励2000，审准率每提高10%，积分奖励增加1500;审准条数大于1000条且审准率大于60%的，获得积分奖励3000，审准率每提高10%，积分奖励增加1000。</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每周一，管理员会在评审群中公布上一周符合条件的评审官名单，并逐一发放积分奖励。</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、月榜奖励</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1）当月四周均出现在周评审榜的用户，奖励50000积分。</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2）一个月内月评审榜TOP5出现的用户，奖励10000积分。</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：每月月初统计并实施奖励。奖励1大于奖励2，不能重复得奖。</p>

		</dd>

		</dl>

	</div>



</div>

<!-- 主体内容-结束 -->



<include file="Public:footer" />