<include file="Public:header" />
<!-- 主体内容-开始 -->
<div class="main clearfix about-main">

	<div class="left">
	<dl>
	<dt>关于{$setting["site_name"]}</dt>
	<dd><a href="/about/jianjie.html">{$setting["site_name"]}简介</a></dd>
	<dd><a href="/about/gonggao.html">{$setting["site_name"]}公告</a></dd>
	<dd><a href="/about/shengming.html" class="hover">免责声明</a></dd>
	<dd><a href="/about/feedback.html">反馈意见</a></dd>
	</dl>
	<dl class="guize">
	<dt>互动规则</dt>
	<dd><a href="/about/tougao.html">投稿规则</a></dd>
	<dd><a href="/about/shengao.html">审稿规则</a></dd>
	<dd><a href="/about/shengji.html">升级规则</a></dd>
	<dd><a href="/about/jifen.html">积分规则</a></dd>
	</dl>
	</div>

	<div class="right">
		<dl class="mianze">
		<dt>免责声明</dt>
		<dd>
			<p>在本网站发表笑话(图片)即意味着同意其笑话图片在本站内的公开发布与传播以及本站引用所产生的使用权，由于第三方下载而引起的传播和修改等衍生责任，本站不承担责任。</p>
			<p>本站笑话图片内容由网友自行发布，本站仅提供笑话、图片存储空间服务，笑话(图片)上传者应自行负责所上传笑话(图片)涉及的法律责任，本站对帖文真实性、版权等概不负责，亦不承担任何法律责任。</p>
			<p>本站对于上传的笑话、图片保留未经通知到本人立即删除的权利。</p>
			<p>任何单位或个人认为本站所保存的笑话(图片)内容可能涉嫌侵犯其合法权益，应该及时向本站书面反馈，并提供身份证明、权属证明及详细侵权情况证明，本站在收到上述法律文件后，将会尽快移除被控侵权内容。</p>
		</dd>
		</dl>
	</div>

</div>
<!-- 主体内容-结束 -->

<include file="Public:footer" />