<include file="Public:header" />

<div class="main clearfix register" id="iframe-login">
	<div class="iframe-reg">

		<dl class="login-left back-password">
			<dt>找回密码</dt>
			<dd>
				<form id="form_back_password_email" novalidate="novalidate">
					<ul>
						<li>
							<input type="email" name="email" class="email" placeholder="请输入您注册时用的邮箱">
							<span class="error"></span>
						</li>
						<li class="vcodeli">
							<input type="text" name="code" class="vcode" placeholder="验证码" maxlength="4">
							<img src="/public/verify" id="vcode" alt="验证码" title="换一换">
							<span class="error"></span>
						</li>
						<li class="button">
							<input type="button" class="btn" value="提交">
						</li>
					</ul>
				</form>
			</dd>
		</dl>

		<div class="login-right">
			<div class="or"><span>或</span></div>
			<dl class="loginp">
				<dt class="title">使用以下帐号直接登录</dt>
				<dd class="qq"><a href="/account/qqlogin"><i class="login-qq tr"></i><span>QQ</span></a></dd>
				<dd class="weibo"><a href="/account/wblogin"><i class="login-weibo tr"></i><span>新浪微博</span></a></dd>
			</dl>
		</div>
	</div>
</div>

<include file="Public:footer1" />
<script type="text/javascript">
	seajs.use(['user'], function(user) {
		user.forgetpassword();
	});
</script>