<div class="main-right fr">
		<include file="Public:user" />
		<!--已签到-->
		<div class="calendar calendar-out clearfix" id="ysign-box" <if condition="$is_sign neq 1">style="display:none"</if>>
			<a href="javascript:void(0);" class="calendar-left">
				<i class="icon icon24 icon-diary"></i>签到
			</a>
			<div class="calendar-info">
				<p class="calendar-info-itme flca5">本次获得30分</p>
				<p class="flca5">恭喜你离赢娶白富美又近了一步</p>
			</div>
		</div>

		<!--未签到-->
		<div class="calendar calendar-in" id="nosign-box" <if condition="$is_sign eq 1">style="display:none"<else/>style="display:block"</if>>
			<a href="javascript:void(0);" id="user-sign" class="calendar-left">
				<i class="icon icon24 icon-diary-s"></i>签到
			</a>
			<div class="calendar-info">
				<p class="calendar-info-itme">
					<span class="flcf66"><i class="icon icon10 icon-arr"></i>点击签到赚积分</span>
				</p>
				<p class="flca5">点签到赚积分，赢娶白富美</p>
			</div>
		</div>

		<!--<div class="trial" id="j-trial">
			<dl class="trial-head">
				<dt>最佳评审官</dt>
				<dd>
					<a href="javascript:void(0)" class="date-type weeks hover" data-body="weeks">周</a>
					<a href="javascript:void(0)" class="date-type day hover" data-body="day">日</a>
				</dd>
			</dl>
			<ul class="trial-body day-body clearfix" style="display:block;">
				<if condition="$audit_day_user eq NULL">
					<li style="text-align:center;">今天还没有人审稿。</li>
				</if>
				<volist name="audit_day_user" key="k" id="val" offset="0" length="5">
				<li>
					<span class="num top{$k}">{$k}</span>
					<a href="/user/{$val.id}" class="user" target="_blank">
						<img src="{$val.avatar}" alt="{$val.username}">
					</a>
					<div class="user-title">
						<a href="/user/{$val.id}" target="_blank">{$val.username}</a>
						<p>审准了{$val.day_audit_num}条</p>
					</div>
				</li>
				</volist>
			</ul>

			<ul class="trial-body weeks-body clearfix" style="display:block;">
				<if condition="$audit_week_user eq NULL">
					<li style="text-align:center;">该周还没有人审稿。</li>
				</if>
				<volist name="audit_week_user" key="k" id="val" offset="0" length="5">
				<li>
					<span class="num top{$k}">{$k}</span>
					<a href="/user/{$val.id}" class="user" target="_blank">
						<img src="{$val.avatar}" alt="{$val.username}">
					</a>
					<div class="user-title">
						<a href="/user/{$val.id}" target="_blank">{$val.username}</a>
						<p>审准了{$val.day_audit_num}条</p>
					</div>
				</li>
				</volist>
			</ul>
		</div>-->
		<!-- 用户发帖、审帖排行 -->
		<ul class="tab tab-rank" id="phnav">
        	<li class="cur" dataid="ph1">投稿周排行榜<i></i></li>
            <li dataid="ph2">审稿周排行榜<i></i></li>
        </ul>
        <div class="box-rank">
          <ul class="list-rank" id="ulpaihang">
            <div class="lbox" id="ph1" style="display:block">
              <volist name="send_week_user" id="val" key="k">
              <li>
                <div class="user-avatar40"><a href="/user/{$val.id}" title="{$val.username}" target="_blank"><i class="icon user-shadow40"></i><img src="{$val.avatar}" height="40" width="40" alt=""></a></div>
                <div class="list-rank-info">
                  <p><a href="/user/{$val.id}" title="{$val.username}" target="_blank">{$val.username}</a></p>
                  <p><i class="icon icon18 icon-top<php>if($k <=3){echo $k;}</php>">{$k}</i>发布{$val.send_num}个帖子
                  <if condition="(check_follow($user['id'],$val['id']) eq 1)">
                    <a href="javascript:void(0);" data-ajax="follow" data-userid="{$val.id}" class="user-follow user-cancelfollow"><i class="icon icon10 icon-cut"></i>已关注</a>
                    <else/>
                    <a href="javascript:void(0);" data-ajax="follow" data-userid="{$val.id}" class="user-follow"><i class="icon icon10 icon-add-h"></i>关注</a>
                    </if>
                    </p>
                </div>
              </li>
              </volist>
            </div>
            <div class="lbox" id="ph2">
            <volist name="audit_week_user" id="val" key="k">
              <li>
                <div class="user-avatar40"><a href="/user/{$val.id}" title="{$val.username}" target="_blank"><i class="icon user-shadow40"></i><img src="{$val.avatar}" height="40" width="40" alt=""></a></div>
                <div class="list-rank-info">
                  <p><a href="/user/{$val.id}" title="{$val.username}" target="_blank">{$val.username}</a></p>
                  <p><i class="icon icon18 icon-top<php>if($k <=3){echo $k;}</php>">{$k}</i>审核{$val.audit_num}个帖子
                  <if condition="(check_follow($user['id'],$val['id']) eq 1)">
                    <a href="javascript:void(0);" data-ajax="follow" data-userid="{$val.id}" class="user-follow user-cancelfollow"><i class="icon icon10 icon-cut"></i>已关注</a>
                    <else/>
                    <a href="javascript:void(0);" data-ajax="follow" data-userid="{$val.id}" class="user-follow"><i class="icon icon10 icon-add-h"></i>关注</a>
                    </if>
                    </p>
                </div>
              </li>
              </volist>
            </div>
          </ul>
        </div>

		<include file="Public:tags" />
		<include file="Public:app" />
		<include file="Public:pic" />
		<include file="Public:text" />
		<!-- <div class="advertising" id="j-advertising">
			<div class="advertising-box">
				<a href="" target="_blank"><img src="/Public/index/mahua/images/ab_right_4.jpg?v=20150602" width="300" height="250"></a>
			</div>
		</div> -->
	</div>
<script type="text/javascript">seajs.use(['user'], function(user){user.sign();var trial = $('#j-trial');type = trial.find('.date-type');type.mouseover(function(){var self = $(this),type = self.data('body');self.addClass('hover').siblings('a').removeClass('hover');trial.find('.' + type + '-body').show().siblings('ul').hide();});});</script>