<dl class="text-list">
	<dt><a href="javascript:;" target="_blank"><h2>精彩段子</h2></a></dt>
	<div class="textlist clearfix">
        <ul>
            <volist name="text" id="val">
            <li><a target="_blank" class="title" href="/xiaohua/{$val.id}.html">{$val.title}</a></li>
            </volist>
        </ul>
    </div>
</dl>
<dl class="text-list">
	<dt><a href="javascript:;" target="_blank"><h2>精彩视频</h2></a></dt>
	<div class="textlist clearfix">
    <ul>
        <volist name="video" id="val">
        <li><a target="_blank" class="title" href="/xiaohua/{$val.id}.html">{$val.title}</a></li>
        </volist>
    </ul>
  </div>
</dl>