<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title>{$title} - {$setting["site_name"]}</title>
<script type="text/javascript">
var url = "{$setting['site_murl']}";
function GetUrlRelativePath(){var url=document.location.toString(),arrUrl=url.split("//"),start = arrUrl[1].indexOf("/"),relUrl = arrUrl[1].substring(start);if(relUrl.indexOf("?") != -1){relUrl = relUrl.split("?")[0]}return relUrl;}
if((navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad)/i))){location.replace(url+GetUrlRelativePath());};
</script>

<link rel="icon" href="/Public/index/mahua/images/favicon.ico" type="image/x-icon" >
<meta name="keywords" content="<if condition="$keywords neq NULL">{$keywords}<else/>{$title}</if>" />
<meta name="description" content="<if condition="$description neq NULL">{$description}<else/>{$title}</if>" />
{$setting['qq_code']|htmlspecialchars_decode}
{$setting['sina_code']|htmlspecialchars_decode}
<link rel="alternate" type="application/rss+xml" title="{$setting["site_name"]}" href="{$setting['site_url']|str_replace='http://www.','',###}/rss"/>
<link rel="stylesheet" type="text/css" href="/Public/index/mahua/css/main.css">
<link rel="stylesheet" type="text/css" href="/Public/js/plugins/slide/css/slide.min.css">
<script type="text/javascript" src="/Public/js/sea.js"></script>
<script type="text/javascript" src="/Public/index/mahua/js/sea_config.js"></script>
</head>
<body>
<?php
$url = $_SERVER["REQUEST_URI"];
?>
<!-- 顶部-开始 -->
<div class="header">
	<div class="header-nav clearfix">
		<div class="logo"><a href="/"><img src="{$setting['site_logo']}"></a></div>
		<ul class="clearfix menu">
			<li><a href="/">最新笑话</a></li>
			<li><a href="/hotjoke">热门笑话</a></li>
			<li><a href="/tags">看点</a></li>
			<li><a href="/godreply">神回复</a></li>
			<li><a href="/shop">积分商城</a></li>
			<li><a href="/user/followinfo">好友动态</a></li>
		</ul>
		<div class="header-user clearfix">
			<if condition="$user eq NULL">
			<a href="/account/login">登录</a>　
			<a href="/account/register">注册</a>
			<script type="text/javascript">var test = 0;</script>
			<else/>
			<!--登录状态-->
			<div class="username clearfix">
				<span><a href="/user">{$user.username}</a>，欢迎回来！</span>
				<ul class="clearfix username-nav">
					<li><a href="/user">我的消息</a></li>
					<li><a href="/user/joke">我的投稿</a></li>
					<li><a href="/user/review">我的评论</a></li>
					<li><a href="/user/followlist">我的关注</a></li>
					<li><a href="/user/fanslist">我的粉丝</a></li>
					<li><a href="/user/msg">我的私信</a></li>
					<li><a href="/user/followinfo">好友动态</a></li>
					<li><a href="/user/gift">我的礼品</a></li>
					<li><a href="/user/info">个人资料</a></li>
					<li><a href="/account/logout">退出</a></li>
				</ul>
				<script type="text/javascript">var test = 1;</script>
			</div>
			</if>
		</div>
	</div>
</div>
<!-- 顶部-结束 -->

