<script type="text/javascript">
	function checkSearch() {
		if($('#key').val() == '') {
			return false;
		}
		return true;
	}
</script>
<dl class="tags-list">
	<dt>
		<a href="/tags" target="_blank"><h2>看点</h2></a>
		<a href="/tags" class="more" target="_blank">更多</a>
	</dt>
	<dd>
		<volist name="tags" id="val" offset="0" length="20">
			<a href="/tags/{$val.id}_1.html" target="_blank">{$val.name}</a>
		</volist>
	</dd>
	<dd>
		<div class="search">
			<input type="text" id="key" class="search-text" placeholder="你想找点啥 ?" title="你想找点啥 ?" name="key" style="color: rgb(204, 204, 204);">
			<input type="hidden" name="p" value="1" />
			<input type="buttom" value="" class="search-submit">
		</div>
	</dd>
</dl>