<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-title">
                <h5>添加笑点</h5>
            </div>
            <div class="ibox-content">
                <a href="javascript:void(0)" link-url="{:U('Tags/index')}"><button class="btn btn-primary btn-sm" type="button"><i class="fa fa-plus-circle"></i> 笑点管理</button></a>
                <form class="form-horizontal" submit-url="{:U('Tags/add')}" method="post">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称：</label>
                            <div class="col-sm-2">
                                <input type="text" name="name" class="form-control" required data-msg-required="请输入名称">
                            </div>
                            <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 不可重复。</span>
                        </div>
                        <div class="form-group">
                        <label class="col-sm-2 control-label">图片：</label>
                        <div class="col-sm-2">
                            <div class="input-group uploaderbox">
                                    <input type="hidden" name="image" value=""/>
                                    <img src="/Public/admin/image/image.png" width="88" height="75" class="img-responsive">
                                    <input type="file" id="img"/>
                                </div>
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">描述：</label>
                            <div class="col-sm-2">
                                <input type="text" name="description" class="form-control" required data-msg-required="请输入模板标题">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文字样式：</label>
                            <div class="col-sm-2">
                                <label class="radio-inline">
                                    <input type="radio" value="1" name="active">高亮
                                    </label>
                                <label class="radio-inline">
                                    <input type="radio" value="0" name="active" checked>否
                                    </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序：</label>
                            <div class="col-sm-2">
                                <input type="text" name="sort" class="form-control" required data-msg-required="请输入排序">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">SEO-Title：</label>
                            <div class="col-sm-2">
                                <input type="text" name="seo_title" class="form-control" required data-msg-required="请输入SEO-Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">SEO-Keywords：</label>
                            <div class="col-sm-4">
                                <textarea name="seo_keywords" class="form-control" style=" height:150px;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">SEO-Description：</label>
                            <div class="col-sm-4">
                                <textarea name="seo_description" class="form-control" style=" height:150px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-offset-2">
                        <button class="btn btn-primary" type="submit" data-form-action="App.submit_form"><i class="fa fa-check"></i> 保 存</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">
         seajs.use(['upload'], function(upload){
                upload.uploadify('#img','tags','image');
          });
    </script>