<include file="Public:header" />

<!-- 主体内容-开始 -->

<div class="main clearfix about-main">



	<div class="left">

	<dl>

	<dt>关于{$setting["site_name"]}</dt>

	<dd><a href="/about/jianjie.html">{$setting["site_name"]}简介</a></dd>

	<dd><a href="/about/gonggao.html">{$setting["site_name"]}公告</a></dd>

	<dd><a href="/about/shengming.html">免责声明</a></dd>

	<dd><a href="/about/feedback.html">反馈意见</a></dd>

	</dl>

	<dl class="guize">

	<dt>互动规则</dt>

	<dd><a href="/about/tougao.html">投稿规则</a></dd>

	<dd><a href="/about/shengao.html">审稿规则</a></dd>

	<dd><a href="/about/shengji.html">升级规则</a></dd>

	<dd><a href="/about/jiongbi.html"  class="hover">积分规则</a></dd>

	</dl>

	</div>



	<div class="right" style="height:1100px;">

		<dl class="shengji">

		<dt>积分规则</dt>

		<dd>

			<p>新版{$setting["site_name"]}获取积分规则重大升级，请各位朋友参考下表，早日变成高富帅！</p>

			<table cellspacing="1">

			<tbody><tr>

			<td rowspan="2">投稿</td>

			<td>通过</td>

			<td>未通过</td>

			</tr>

			<tr>

			<td>200积分</td>

			<td>0积分</td>

			</tr>

			<tr class="trcolor">

			<td rowspan="2">评论</td>

			<td>神回复</td>

			<td>发评论</td>

			</tr>

			<tr class="trcolor">

			<td>50积分</td>

			<td>0积分</td>

			</tr>

			<tr style="height:46px" class="trcolor">

			<td>打赏</td>

			<td colspan="2">送积分给投稿人，同时从自己的帐号上扣<br>除相应积分。打赏不可反悔。</td>

			</tr>

			<!-- <tr>

			<td>签到</td>

			<td colspan="2">仅APP可以签到，可获2-10积分/天。 <a target="_blank" href="">app下载</a></td>

			</tr> -->

			<tr style="height:46px">

			<td>被包养</td>

			<td colspan="2">被包养成功，获得<b>自己指定的积分</b>。<br>之后该投稿获得的打赏，归包养人所有。</td>

			</tr>

			<tr class="trcolor">

			<td>包养笑话</td>

			<td colspan="2">包养成功，赠送给投稿人指定的积分。之后该投稿获得的打赏，归包养人所有。</td>

			</tr>

			<tr>

			<td>升级</td>

			<td colspan="2">升级就有奖励哦，新玩法等级条数限制有更新，<a href="/about/shengji.html">去看看&gt;&gt;</a></td>

			</tr>

			</tbody></table>

			</dd>

			</dl>

			<dl>

			<dt>积分能干什么</dt>

			<dd>

			<p>&#12288;&#12288;积分可以在积分商城里兑换各种礼品！上至iPhone6，下至话费和Q币，总有一款能满足你的需要。</p>

			<p>&#12288;&#12288;申请兑换之后，话费和Q币需要{$setting["site_name"]}的美女专员通过某宝人工充值，实物奖品需要从仓库中调货才能发送快递，请大家耐心等待哦。</p>

			</dd>

			</dl>

			<dl>

			<dt>违规情况</dt>

			<dd>

			<p>&#12288;&#12288;{$setting["site_name"]}坚持“劳有所得”原则，各位的辛勤耕耘肯定能获得相应的回报。但以下情况严重违背{$setting["site_name"]}为广大朋友造福的理念，一经发现立即取消兑换资格，严重者直接封号。</p>

			<p>&#12288;&#12288;1、经常上传低质量、非搞笑等内容。</p>

			<p>&#12288;&#12288;2、注册帐号或串通其他帐户，以打赏、包养等行为转移积分。</p>

			<p>&#12288;&#12288;3、注册帐号或串通其他帐户，在审稿中通过自己发布的笑话。</p>

			<p>&#12288;&#12288;4、注册帐号或串通其他帐户，评论获得积分，或点赞成神回复获得积分。</p>

			<p>&#12288;&#12288;5、恶意注册小号获得邀请注册奖励的积分。</p>

			<p>&#12288;&#12288;6、无视系统警告或提醒，执意破坏{$setting["site_name"]}秩序。</p>

		</dd>

		</dl>

	</div>



</div>

<!-- 主体内容-结束 -->



<include file="Public:footer" />