

<!-- 底部-开始 -->
<div class="footer">
	<div class="links-block clearfix">
		<div class="links-list-block clearfix">
			<div class="likes-title">友情链接：</div>
			<div class="links" id="links_list">
				<div class="likes-list">
					<volist name="flink" id="val">
						<a target="_blank" href="{$val.url}">{$val.name}</a>
					</volist>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-content">
		<div class="about">
			<dl>
				<dt>关于{$setting["site_name"]}</dt>
				<dd><a href="/about/jianjie.html" target="_blank">{$setting["site_name"]}简介</a><a href="/about/gonggao.html" target="_blank">{$setting["site_name"]}公告</a></dd>
				<dd><a href="/about/shengming.html" target="_blank">免责声明</a><a href="/about/feedback.html" target="_blank" class="a-color-red">反馈意见</a></dd>
			</dl>
			<dl>
				<dt>互动规则</dt>
				<dd><a href="/about/tougao.html" target="_blank">投稿规则</a><a href="/about/shengao.html" target="_blank" class="a-color-red">审稿规则</a></dd>
				<dd><a href="/about/shengji.html" target="_blank">升级规则</a><a href="/about/jifen.html" target="_blank">积分规则</a></dd>
			</dl>
			<dl>
				<dt>关注{$setting["site_name"]}</dt>
				<dd><a href="" target="_blank" class="footer-weibo" rel="nofollow">新浪微博</a><a href="" target="_blank" class="footer-qzone">QQ空间</a></dd>
				<dd><a href="" target="_blank" class="footer-QQweibo" rel="nofollow">腾讯微博</a><a href="" target="_blank" class="footer-weixin">微信订阅</a></dd>
			</dl>
			<dl>
				<dt>{$setting["site_name"]}合作</dt>
				<dd>{$setting["site_name"]}粉丝QQ群:<i></i>156322789</dd>
				<dd>合作：50042748@qq.com</dd>
			</dl>
			<dl>
				<dt>{$setting["site_name"]}微信公众平台</dt>
				<dd><img src="{$setting['site_qrcode']}" width="110" height="110"></dd>
			</dl>
		</div>
	</div>
    <div class="coypright">
			<p>{$setting["site_copyright"]}　ICP备：{$setting["site_icp"]}　{$setting.site_tongji_code|htmlspecialchars_decode}</p>
		</div>
</div>
<!-- 底部-结束 -->

<!--回到顶部-开始-->
<div class="return-top" id="j-return-top">
	<div class="return-code">
		<img class="qrcode" src="{$setting['site_qrcode']}">
		<img class="arrow" src="/Public/index/haoxiao8/images/reutrn-code-bg.png">
	</div>
	<div class="return-btn"></div>
</div>
<!--回到顶部-结束-->
{$adv['pc_fumeiti']}{$adv['pc_duilian']}
</body>
</html>