<include file="Public:header" />
<!-- 主体内容-开始 -->
<div class="main mb10">
  <div class="content-block about-main clearfix">
  <div class="left">
    <dl>
      <dt>关于{$setting["site_name"]}</dt>
      <dd><a href="/about/jianjie.html">{$setting["site_name"]}简介</a></dd>
      <dd><a href="/about/gonggao.html" class="hover">{$setting["site_name"]}公告</a></dd>
      <dd><a href="/about/shengming.html">免责声明</a></dd>
      <dd><a href="/about/feedback.html">反馈意见</a></dd>
    </dl>
    <dl class="guize">
      <dt>互动规则</dt>
      <dd><a href="/about/tougao.html">投稿规则</a></dd>
      <dd><a href="/about/shengao.html">审稿规则</a></dd>
      <dd><a href="/about/shengji.html">升级规则</a></dd>
      <dd><a href="/about/jifen.html">积分规则</a></dd>
    </dl>
  </div>
  <div class="right">
    <dl class="gonggao">
      <dt>{$setting["site_name"]}公告</dt>
      <dd>
        <p>为了更好的完善积分奖励制度，暂时将部分积分奖励机制撤下，但仍保留原有主要积分奖励机制，并且后续会有更多形式奖励积分，详细请看<a href="/about/jifen.html">积分规则</a>。如果积分规则的完善对大家有造成不便的，请众位{$setting["site_name"]}见谅</p>
        <p class="time">2014/6/9</p>
      </dd>
    </dl>
  </div>
</div>
</div>
<!-- 主体内容-结束 --> 
<include file="Public:footer" />