<include file="Public:header" />

<div class="main-user">
	<div class="validation-Email">
		<dl class="validation-Email-content">
			<dt>邮件验证</dt>
			<dd class="title">邮箱验证后，即可完成注册</dd>
			<dd>只需登录邮箱<span id="email">{$email}</span>点击链接激活即可。验证后即可成为{$setting["site_name"]}会员，你的账号也将更安全！</dd>
			<dd><a href="http://{$url}" target="_blank">去邮箱验证</a></dd>
		</dl>
		<dl class="validation-Email-orter">
			<dt>还没收到验证邮件？</dt>
			<dd>1、尝试到广告邮件、垃圾邮件目录里找找看。或者<a href="javascript:void(0);" email="8232424324@qq.com" id="again-send-active-email">再次发送验证邮件</a>。</dd>
		</dl>
	</div>
</div>

<include file="Public:footer1" />