<include file="Public:header" />

<!-- 主体内容-开始 -->
<div id="content" class="main">
  <div class="content-block clearfix">
    <div id="j-main-list" class="col1">
    <include file="Public:joke" />
    <div class="pagination">
        {$page}
        </div>
    </div>
    <div class="col2">
  		<include file="Index:right" />
    </div>
  </div>
  <div id="reward" class="joke-buy-box" style="display: none; top: 0; left: 0;"></div>
</div>
<!-- 主体内容-结束 -->
<include file="Public:footer" />
<script type="text/javascript">
	seajs.use(['user'], function(user) {
		user.returnTop();
		user.sideNav();
	});
</script>