<div class="sidebar-tag clearfix">
    <h3>精彩段子</h3>
    <div class="textlist clearfix">
        <ul>
            <volist name="text" id="val">
            <li><a target="_blank" class="title" href="/xiaohua/{$val.id}.html">{$val.title}</a></li>
            </volist>
        </ul>
    </div>
</div>
<div class="sidebar-tag clearfix">
    <h3>精彩视频</h3>
    <div class="textlist clearfix">
        <ul>
            <volist name="video" id="val">
            <li><a target="_blank" class="title" href="/xiaohua/{$val.id}.html">{$val.title}</a></li>
            </volist>
        </ul>
    </div>
</div>