<include file="Public:header" />
<!-- 主体内容-开始 -->
<div id="content" class="main mb10">
  <div class="content-block clearfix">
    <div id="content-left" class="col1">
		<div class="gift-info">
			<img src="{$gift.image}" alt="{$gift.title}">
			<dl>
				<dt>{$gift.title}</dt>
				<dd class="gift-score">需要：<span>{$gift.price}</span></dd>
				<dd><a href="/shop/exchange_{$gift.id}" class="loginClickHref">立即兑换</a></dd>
			</dl>
		</div>
		<div class="gift-content">
			<dl class="gift-description">
				<dt>礼品描述</dt>
				<dd>
					{$gift.description|stripcslashes|htmlspecialchars_decode}
				</dd>
			</dl>
		</div>
	</div>
	<div class="col2">
		<include file="right" />
	</div>
  </div>
</div>
<!-- 主体内容-结束 -->
<include file="Public:footer" />