<include file="Public:header" />
<!-- 主体内容-开始 -->
<div id="content" class="main mb10 member">
  <div class="content-block clearfix">
	<include file="User:banner" />
	<div class="col1" style="background:#fff;">
		<ul class="user-nav">
			<li><a href="/user" class="hover">消息</a></li>
              <li><a href="/user/joke">投稿</a></li>
              <li><a href="/user/review">评论</a></li>
              <li><a href="/user/followlist">关注</a></li>
              <li><a href="/user/fanslist">粉丝</a></li>
              <li><a href="/user/msg">私信</a></li>
              <li><a href="/user/followinfo">好友动态</a></li>
              <li><a href="/user/gift">我的礼品</a></li>
              <li><a href="/user/info">个人资料</a></li>
		</ul>

		<!--我的信息-开始-->
		<ul class="content myinfo">
			<li class="tab">
				<a href="/user/type/all" <if condition="$type eq 'all'">class="hover"</if> >全部</a>
				<a href="/user/type/week" <if condition="$type eq 'week'">class="hover"</if> >7天内</a>
				<a href="/user/type/month" <if condition="$type eq 'month'">class="hover"</if> >一月内</a>
				<a href="/user/type/income" <if condition="$type eq 'income'">class="hover"</if> >收入</a>
				<a href="/user/type/cost" <if condition="$type eq 'cost'">class="hover"</if> >花销</a>
			</li>
			<if condition="$trace eq NULL">
				<p style="font-size:20px;text-align:center;margin-top:16px;padding-bottom:20px;">小伙伴新来的，啥也木有。</p>
			</if>
			<volist name="trace" id="list">
				<li>
					<div class="content-details">{$list.content}</div>
				</li>
			</volist>
		</ul>
		<!--我的信息-结束-->
		<div class="pagination">
        {$page}
        </div>
	</div>
	<div class="col2">
	<include file="right" />
	</div>
</div>
</div>
<!-- 主体内容-结束 -->
<include file="Public:footer1" />
