<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<title>妈呀，404啦！sorry，这个页面笔记君表示无法找到_搞笑笔记手机版</title>

<link type="text/css" rel="stylesheet" href="http://m.gaoxiaobiji.com/404/css/404.css" />

<!--[if IE 6]>
<script src="js/png.js"></script>
<script>DD_belatedPNG.fix('*')</script>
<![endif]-->

</head>
<body>

<div id="wrap">
	<div>
		<img src="http://m.gaoxiaobiji.com/404/img/404.png" alt="404" />
	</div>
	<div id="text">
		<strong>
			<span></span>
			<a href="http://m.gaoxiaobiji.com/" target="_blank">返回首页</a>
			<a href="javascript:history.back()">保证不打死管理员</a>
		</strong>
	</div>
</div>

<div class="animate below"></div>
<div class="animate above"></div>
</body>
</html>