<div id="sidebar" class="sidebar">

<div class="sidebar-tutorial user-btn clearfix" style="margin-top:0">
    <a href="/joke/publish" class="publish" target="_blank"><i class="tr"></i><span>投稿</span></a>
    <a href="/joke/audit" class="audit" target="_blank"><i class="tr"></i><span>审稿</span></a>
</div>

<!--已签到-->
<div class="calendar calendar-out clearfix" id="ysign-box" <if condition="$is_sign neq 1">style="display:none"</if>>
	<a href="javascript:void(0);" class="calendar-left">
		<i class="icon icon24 icon-diary"></i>签到
	</a>
	<div class="calendar-info">
		<p class="calendar-info-itme flca5">本次获得30分</p>
		<p class="flca5">恭喜你离赢娶白富美又近了一步</p>
	</div>
</div>

<!--未签到-->
<div class="calendar calendar-in" id="nosign-box" <if condition="$is_sign eq 1">style="display:none"<else/>style="display:block"</if>>
	<a href="javascript:void(0);" id="user-sign" class="calendar-left">
		<i class="icon icon24 icon-diary-s"></i>签到
	</a>
	<div class="calendar-info">
		<p class="calendar-info-itme">
			<span class="flcf66"><i class="icon icon10 icon-arr"></i>点击签到赚积分</span>
		</p>
		<p class="flca5">点签到赚积分，赢娶白富美</p>
	</div>
</div>
<!-- 用户发帖、审帖排行 -->
		<ul class="tab tab-rank" id="phnav">
        	<li class="cur" dataid="ph1">投稿周排行榜<i></i></li>
            <li dataid="ph2">审稿周排行榜<i></i></li>
        </ul>
        <div class="box-rank">
          <ul class="list-rank" id="ulpaihang">
            <div class="lbox" id="ph1" style="display:block">
              <volist name="send_week_user" id="val" key="k">
              <li>
                <div class="user-avatar40"><a href="/user/{$val.id}" title="{$val.username}" target="_blank"><i class="icon user-shadow40"></i><img src="{$val.avatar}" height="40" width="40" alt=""></a></div>
                <div class="list-rank-info">
                  <p><a href="/user/{$val.id}" title="{$val.username}" target="_blank">{$val.username}</a></p>
                  <p><i class="icon icon18 icon-top<php>if($k <=3){echo $k;}</php>">{$k}</i>发布{$val.send_num}个帖子
                  <if condition="(check_follow($user['id'],$val['id']) eq 1)">
                    <a href="javascript:void(0);" data-ajax="follow" data-userid="{$val.id}" class="user-follow user-cancelfollow"><i class="icon icon10 icon-cut"></i>已关注</a>
                    <else/>
                    <a href="javascript:void(0);" data-ajax="follow" data-userid="{$val.id}" class="user-follow"><i class="icon icon10 icon-add-h"></i>关注</a>
                    </if>
                    </p>
                </div>
              </li>
              </volist>
            </div>
            <div class="lbox" id="ph2">
            <volist name="audit_week_user" id="val" key="k">
              <li>
                <div class="user-avatar40"><a href="/user/{$val.id}" title="{$val.username}" target="_blank"><i class="icon user-shadow40"></i><img src="{$val.avatar}" height="40" width="40" alt=""></a></div>
                <div class="list-rank-info">
                  <p><a href="/user/{$val.id}" title="{$val.username}" target="_blank">{$val.username}</a></p>
                  <p><i class="icon icon18 icon-top<php>if($k <=3){echo $k;}</php>">{$k}</i>审核{$val.audit_num}个帖子
                  <if condition="(check_follow($user['id'],$val['id']) eq 1)">
                    <a href="javascript:void(0);" data-ajax="follow" data-userid="{$val.id}" class="user-follow user-cancelfollow"><i class="icon icon10 icon-cut"></i>已关注</a>
                    <else/>
                    <a href="javascript:void(0);" data-ajax="follow" data-userid="{$val.id}" class="user-follow"><i class="icon icon10 icon-add-h"></i>关注</a>
                    </if>
                    </p>
                </div>
              </li>
              </volist>
            </div>
          </ul>
        </div>
<include file="Public:pic" />
<include file="Public:text" />
<include file="Public:tags" />
<include file="Public:app" />
</div>
<script type="text/javascript">seajs.use(['user'], function(user){user.sign();var trial = $('#j-trial');type = trial.find('.date-type');type.mouseover(function(){var self = $(this),type = self.data('body');self.addClass('hover').siblings('a').removeClass('hover');trial.find('.' + type + '-body').show().siblings('ul').hide();});});</script>