<div class="sidebar-tag clearfix">
    <h3>看点</h3>
    <div class="sidebar-tag-block">
        <volist name="tags" id="val" offset="0" length="20">
            <a href="/tags/{$val.id}_1.html" target="_blank">{$val.name}</a>
        </volist>
    </div>
    <div class="search">
			<input type="text" id="key" class="search-text" placeholder="你想找点啥 ?" title="你想找点啥 ?" name="key" style="color: rgb(204, 204, 204);">
			<input type="hidden" name="p" value="1" />
			<input type="buttom" value="" class="search-submit">
		</div>
</div>