        <div id="sidebar" class="sidebar">
            <div class="sidebar-tutorial user-btn clearfix" style="margin-top:0">
                <a href="/joke/publish" class="publish" target="_blank"><i class="tr"></i><span>投稿</span></a>
                <a href="/joke/audit" class="audit" target="_blank"><i class="tr"></i><span>审稿</span></a>
            </div>
        </div>
        <dl class="other-user clearfix" >
        <dt>看看他们的笑话</dt>
        <volist name="user_list" id="list">
            <dd>
                <a href="/user/{$list.id}" class="go-user-index" target="_blank">
                    <img src="{$list.avatar}" alt="{$list.username}">
                    <p>{$list.username}</p>
                </a>
                <a href="/user/{$list.id}" class="go-user-index-btn" target="_blank">去Ta首页</a>
            </dd>
        </volist>
    </dl>