<div class="sidebar-tag clearfix">
    <div class="platform">
        <ul class="platform-other">
            <li class="app-mobilePhone"><a href="{$setting['site_murl']}" rel="nofollow" target="_blank">手机看笑话{$setting['site_murl']|str_replace='http://','',###}</a></li>
            <li class="app-android"><a href="/app/index.html" rel="nofollow" target="_blank">安装Android 手机客户端</a></li>
            <li class="app-ios"><a href="/app/index.html" rel="nofollow" target="_blank">安装iPhone 手机客户端</a></li>
        </ul>
    </div>
</div>