<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-title">
                <h5>SEO管理</h5>
            </div>
            <div class="ibox-content">
                <a href="javascript:void(0)" link-url="{:U('Seo/add')}"><button class="btn btn-primary btn-sm" type="button"><i class="fa fa-plus-circle"></i> 添加SEO</button></a>
                <table class="table table-striped table-bordered table-hover m-t-md">
                    <thead>
                        <tr>
                            <th class="text-center" width="50"><input type="checkbox"></th>
                            <th class="text-center" width="100">ID</th>
                            <th class="text-center" width="150">模块名称</th>
                            <th class="text-center" width="150">别名</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Keyword</th>
                            <th class="text-center">Description</th>
                            <th class="text-center" width="200">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="list" id="val">
                        <tr>
                            <td class="text-center"><input type="checkbox" name="id[]" value="{$val.id}"></td>
                            <td class="text-center">{$val.id}</td>
                            <td>{$val.name}</td>
                            <td  class="text-center">{$val.alias}</td>
                            <td class="text-center">{$val.title}</td>
                            <td class="text-center">{$val.keywords}</td>
                            <td class="text-center">{$val.description}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="javascript:void(0)" link-url="{:U('Seo/edit',array('id' => $val['id']))}"><button class="btn btn-white btn-sm" type="button"><em class="fa fa-pencil-square"></em> 修改</button></a>                                    
                                     <a href="javascript:void(0)" data-action="App.del" data-url="{:U('Seo/delete')}" data-id="{$val['id']}"><button class="btn btn-white btn-sm" type="button"><em class="fa fa-trash-o"></em>删除</button></a>
                                </div>
                            </td>
                        </tr>
                        </volist>
                    </tbody>
                </table>
                <div class="pull-right pagination m-t-no">
                    {$page|str_replace='href','href="javascript:void(0)" link-url',###}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>